/* General container styling */
.container1 {
    padding: 16px;
    min-height: 100vh;
    margin-bottom: 40px;
    color: #001F3F;
  }
  
  /* Headings */
  .heading1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    text-align: center;
  }
  
  .subheading2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 18px;
  }

  .progress-head1{
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  /* Box Component */
  .box1 h4 {
    margin: 0;
    margin-bottom: 6px;
  }
  
  .box1 p {
    margin: 0;
    color: #2563eb; /* blue-600 */
  }

  .box1 {
    background-color: #e5e7eb87; /* gray-200 */
    border-radius: 8px;
    padding: 10px 16px;
  }
 
  
  /* Progress bar container */
  .progress-container1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 16px;
  }
  
  .progress-bar-heading1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: bold;
  }

  .progress-bar1 {
    width: 100%;
    height: 12px;
    border: 1px solid transparent;
    background-color: #d1d5db; /* gray-300 */
    border-radius: 8px;
    position: relative;
  }
  
  .progress-fill1 {
    position: absolute;
    background-color: #2563eb; /* blue-600 */
    width: 60%;
    height: 12px;
    border-radius: 8px;
  }
  
  .status-text1 {
    margin-top: 2px;
    color: #2563eb; /* blue-600 */
  }
  
  /* Section */
  .section1 {
    margin: 24px 0;
  }
  
  .section-heading1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  /* Button styling */
  .button1 {
    font-weight: 600;
    margin-top: 16px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px 40px;
    border-radius: 6px;
    transition: all;
    width: auto;
    transition-duration: 200ms;
  }
  
  .button1:hover {
    background-color: #dce0e9; /* hover:bg-gray-200 */
}
  
  .flex-container1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .center-align1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  
