.header{
color: black;
background-color: rgb(238, 138, 15);
height: 50px;
width:100vw;
padding:  12px 13px;
border-bottom: 2px solid black;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}
button{
    height:25px;
    width:50px;
    border-radius: 8px;
}
#logo{
    height: 30px;
    width:200px;
    display: flex;
}
#navbar{
    height: 50px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#login{
    height: 50px;
    width:150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}