
.Container{
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    gap: 6px;
}
.Container img{
    height: 395px;
    width: 795px;
    opacity: 0.9;
    border-radius: 10px;
}
.Container h2{
    color: #2A3663;
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    justify-content: center; 
}
.Container div p{
    font-weight: bolder;
}
.Cards{
    height: 400px;
    width: 1250px;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.Cards h1{
    font-weight: 900;
}
.Cards p{
    display: flex;
    justify-content: flex-start;
}
.Card-img{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.Card-img figcaption{
    height:500px;
    width: 300px;
}
.Card-img img{
    height:250px;
    width: 300px;
    border: 2px solid black;
}
.Card-img caption{
    margin-top: 10px;
    display: flex;
    width:200px;

}
